<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Tracker</title>

    <link rel="stylesheet" href="style.css">
    <script src="./lib/tailwindcss.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="flex flex-col lg:flex-row items-center justify-center gap-3 w-full py-24">
            <div class="flex flex-col justify-center items-center gap-6 w-[400px] h-[75%] text-4xl">
                <p>ยืนยันตัวเลขผู้ติดเชื้อ</p>
                <p class="text-6xl font-bold">COVID-19</p>
                <p>ทั้งหมดในขอนแก่น</p>
            </div>
            <div class="mt-4 flex flex-col md:flex-row gap-3">
                <div
                    class="flex flex-col justify-center items-center gap-3 w-[300px] h-[300px] rounded-3xl bg-pink-400 text-xl">
                    <p>ผู้ติดเชื้อ</p>
                    <p class="text-9xl"> {{ infected.sum }} </p>
                    <p>(เพิ่มวันนี้ {{ infected.new }} ราย)</p>
                </div>
                <div class="flex flex-col justify-between h-[300px]">
                    <div
                        class="flex flex-col justify-center items-center gap-2 w-[300px] h-[145px] rounded-3xl bg-yellow-500 text-sm">
                        <p>กำลังรักษา</p>
                        <p class="text-6xl"> {{ heal.sum }} </p>
                        <p>(เพิ่มวันนี้ {{ heal.new }} ราย)</p>
                    </div>
                    <div class="flex justify-between">
                        <div
                            class="flex flex-col justify-center items-center gap-2 w-[145px] h-[145px] rounded-3xl bg-green-500 text-sm">
                            <p>หายแล้ว</p>
                            <p class="text-6xl"> {{ recovered.sum }} </p>
                            <p>(เพิ่มวันนี้ {{ recovered.new }} ราย)</p>
                        </div>
                        <div
                            class="flex flex-col justify-center items-center gap-2 w-[145px] h-[145px] rounded-3xl bg-red-500 text-sm">
                            <p>เสียชีวิต</p>
                            <p class="text-6xl"> {{ dead.sum }} </p>
                            <p>(เพิ่มวันนี้ {{ dead.new }} ราย)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-16">
            <div class="flex justify-between items-center">
                <h1 class="text-xl">รายชื่อผู้ติดเชื้อทั้งหมด</h1>
                <div class="flex gap-2">
                    <div>
                        <select v-model="typeSelected" class="text-white bg-green-500 p-2 rounded-xl">
                            <option value="all">ทั้งหมด</option>
                            <option value="infected">ติดเชื้อ</option>
                            <option value="heal">กำลังรักษา</option>
                            <option value="recovered">หายแล้ว</option>
                            <option value="dead">เสียชีวิต</option>
                        </select>
                    </div>
                    <div class="text-white bg-blue-500 p-2 rounded-xl">
                        <input v-model="dateSelected" type="date" class="bg-transparent">
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <table class="w-full text-center rounded-2xl overflow-hidden">
                    <tr class="bg-slate-300">
                        <th class="py-2">ชื่อ</th>
                        <th class="py-2">เพศ</th>
                        <th class="py-2">อายุ</th>
                        <th class="py-2">โรงพยาบาลที่กำลังรักษา</th>
                        <th class="py-2">สถานะ</th>
                    </tr>
                    <tr v-for="(item, index) in patients" :key="index" class="odd:bg-white even:bg-slate-50">
                        <td class="py-2"> {{ item.firstName }} {{ item.lastName }} </td>
                        <td class="py-2"> {{ item.sex === 'm' ? 'ชาย' : item.sex === 'f' ? 'หญิง' : 'ไม่ระบุ' }}
                        </td>
                        <td class="py-2"> {{ item.age }} </td>
                        <td class="py-2"> {{ item.hospitalLabel }} </td>
                        <td class="py-2"> {{ item.status }} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="./lib/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>