<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sillapa Dashboard</title>

    <link rel="stylesheetloginConfirm" href="../style.css">
    <script src="../assets/lib/tailwindcss.js"></script>
</head>

<body>
    <div class="wrapper">

        <div class="absolute top-0 left-0 flex justify-center items-center w-screen h-screen bg-black/25">
            <div class="p-4 bg-white rounded-lg">
                <h1>เข้าสู่ระบบ</h1>
                <div class="mt-2 bg-zinc-100 px-2 py-1 rounded-lg">
                    <input v-model="username" class="w-full h-full bg-transparent border-none outline-none"
                        type="text" placeholder="ชื่อผู้ใช้">
                </div>
                <div class="mt-2 bg-zinc-100 px-2 py-1 rounded-lg">
                    <input v-model="password" class="w-full h-full bg-transparent border-none outline-none"
                        type="password" placeholder="รหัสผ่าน">
                </div>
                <div class="mt-4 flex gap-2">
                    <button
                    class="w-1/2 py-1 text-white bg-zinc-400 rounded-lg">กลับหน้าแรก</button>
                    <button @click="confirmLogin" class="w-1/2 py-1 text-white bg-green-600 rounded-lg">ตกลง</button>
                </div>
                <p v-if="errorMessage" class="mt-2 text-sm text-red-500"> {{ errorMessage }} </p>
            </div>
        </div>
    </div>

    <script src="../assets/lib/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>