<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sillapa Dashboard</title>

    <link rel="stylesheet" href="../style.css">
    <script src="../assets/lib/tailwindcss.js"></script>
</head>

<body>
    <div class="wrapper flex">
        <div class="flex flex-col items-center w-[7vw] h-screen text-white bg-black">
            <div class="flex justify-center items-center w-[75%] h-[72px] border-b-[1px] border-gray-500 mb-6">
                <img class="w-9 invert" src="https://cdn-icons-png.flaticon.com/512/2913/2913465.png" alt="">
            </div>

            <div class="flex justify-center items-center w-full h-[85px] cursor-pointer">
                <img class="w-9 invert"
                    src="https://cdn3.iconfinder.com/data/icons/navigation-ife10/24/menu_home_box_round-512.png" alt="">
            </div>

            <div @click="popupDisplay = 'logout'"
                class="flex justify-center items-center w-full h-[85px] cursor-pointer">
                <img class="w-9 invert" src="https://icons.veryicon.com/png/o/miscellaneous/unicons/exit-14.png" alt="">
            </div>
        </div>
        <div class="w-[93vw] h-screen overflow-auto">
            <!-- Header -->
            <div class="p-5 border-b-[1px]">
                <h1 class="text-2xl font-bold">Dashboard</h1>
            </div>
            <!-- Content -->
            <div class="mt-4 px-8">
                <div class="flex justify-between items-center">
                    <h1 class="text-xl">รายชื่อผู้ติดเชื้อทั้งหมด</h1>
                    <button @click="popupDisplay = 'add'" class="px-4 py-2 text-white bg-black rounded-full">เพิ่มผู้ติดเชื้อ</button>
                </div>
                <div class="w-full overflow-x-auto whitespace-nowrap">
                    <table class="mt-2 w-full text-center rounded-2xl overflow-hidden">
                        <tr class="text-white bg-black rounded-t-2xl">
                            <th class="p-2">ชื่อ</th>
                            <th class="p-2">เพศ</th>
                            <th class="p-2">อายุ</th>
                            <th class="p-2">โรงพยาบาลที่กำลังรักษา</th>
                            <th class="p-2">สถานะ</th>
                            <th class="p-2">Action</th>
                        </tr>
                        <tr v-for="(item, index) in patients" :key="index"
                            class="odd:bg-white even:bg-slate-50 hover:bg-slate-300">
                            <td class="p-2"> {{ item.firstName }} {{ item.lastName }} </td>
                            <td class="p-2"> {{ item.sex === 'm' ? 'ชาย' : item.sex === 'f' ? 'หญิง' : 'ไม่ระบุ' }}
                            </td>
                            <td class="p-2"> {{ item.age }} </td>
                            <td class="p-2"> {{ item.hospitalLabel }} </td>
                            <td class="p-2"> {{ item.status }} </td>
                            <td class="p-2">
                                <div @click="editPatient(item)"
                                    class="mx-auto px-2 w-fit h-fit cursor-pointer">
                                    <img class="w-4" src="../assets/ionicons/ellipsis-horizontal.svg">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <transition>
            <div v-if="popupDisplay === 'add' || popupDisplay === 'edit'"
                class="absolute top-0 left-0 flex justify-center items-center w-screen h-screen bg-black/25">
                <div class="p-4 bg-white rounded-lg">
                    <div class="flex justify-between">
                        <h1>{{ popupDisplay === 'add' ? 'เพิ่มข้อมูล' : 'แก้ไขข้อมูล'}}</h1>
                        <p @click="popupDisplay = false" class="cursor-pointer">X</p>
                    </div>
                    <div class="mt-2 flex gap-2">
                        <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                            <input v-model="patient.firstName"
                                class="w-full h-full bg-transparent border-none outline-none" type="text"
                                placeholder="ชื่อ">
                        </div>
                        <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                            <input v-model="patient.lastName"
                                class="w-full h-full bg-transparent border-none outline-none" type="text"
                                placeholder="นามสกุล">
                        </div>
                    </div>
                    <div class="mt-2">
                        <p>เลือกเพศ</p>
                        <div class="flex gap-2">
                            <label for="m" class="flex items-center gap-2">
                                <input type="radio" id="m" value="m" v-model="patient.sex" />
                                <p>ชาย</p>
                            </label>
                            <label for="f" class="flex items-center gap-2">
                                <input type="radio" id="f" value="f" v-model="patient.sex" />
                                <p>หญิง</p>
                            </label>
                            <label for="o" class="flex items-center gap-2">
                                <input type="radio" id="o" value="o" v-model="patient.sex" />
                                <p>อื่น ๆ</p>
                            </label>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                            <input v-model="patient.age" class="w-full h-full bg-transparent border-none outline-none"
                                type="number" placeholder="อายุ">
                        </div>
                    </div>
                    <div class="mt-2">
                        <p>เลือกวันที่</p>
                        <div class="grid grid-cols-2 gap-2">
                            <div class="">
                                <label class="text-sm" for="">วันติดเชื้อ</label>
                                <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                                    <input v-model="patient.infectedDate"
                                        class="w-full h-full bg-transparent border-none outline-none" type="date">
                                </div>
                            </div>
                            <div class="">
                                <label class="text-sm" for="">วันรักษา</label>
                                <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                                    <input v-model="patient.healDate"
                                        class="w-full h-full bg-transparent border-none outline-none" type="date">
                                </div>
                            </div>
                            <div class="">
                                <label class="text-sm" for="">วันหาย</label>
                                <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                                    <input v-model="patient.recoveredDate"
                                        class="w-full h-full bg-transparent border-none outline-none" type="date">
                                </div>
                            </div>
                            <div class="">
                                <label class="text-sm" for="">วันตาย</label>
                                <div class="bg-zinc-100 px-2 py-1 rounded-lg">
                                    <input v-model="patient.deadDate"
                                        class="w-full h-full bg-transparent border-none outline-none" type="date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 flex gap-2">
                        <button @click="deletePatient"
                            class="w-1/2 py-1 text-white bg-red-400 rounded-lg">ลบ</button>
                        <button @click="confirmPatient"
                            class="w-1/2 py-1 text-white bg-green-600 rounded-lg">บันทึก</button>
                    </div>
                </div>
            </div>
        </transition>

        <transition>
            <div v-if="popupDisplay === 'logout'"
                class="absolute top-0 left-0 flex justify-center items-center w-screen h-screen bg-black/25">
                <div class="p-4 bg-white rounded-lg">
                    <h1>ยืนยันที่จะออกจากระบบหรือไม่</h1>

                    <div class="mt-4 flex gap-2">
                        <button @click="popupDisplay = false"
                            class="w-1/2 py-1 text-white bg-red-400 rounded-lg">ยกเลิก</button>
                        <button @click="logout" class="w-1/2 py-1 text-white bg-green-600 rounded-lg">ตกลง</button>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <!-- <script type="module" src="../assets/lib/ionicons.esm.js"></script> -->
    <!-- <script nomodule src="../assets/lib/ionicons.js"></script> -->
    <script src="../assets/lib/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>